.directory_folder {
    height: 85%;
    text-align: center;
        @at-root #{&}__title {
            width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}

.grid_content {
    text-align: center;
        @at-root #{&}__paper {
        display: inline-block;
        }
}